.title {
  text-align: center;
  padding: 6rem 2rem 2rem 2rem;
}

.bg {
  background-image: url('../../public/background.jpg');
  height: 330px;
  margin: 0 .8rem;
  border-radius: 1rem;
}

.inactiveSlide {
  opacity: .5;
  filter: blur(1.05px);
}

.activeSlide {
  opacity: 1;
}