.container_menu {
  padding-top: 2rem;
}

.bg_header {
  background-image: url('/sortrodape.png');
  height: 400px;
  /* height: 100vh; */
  background-position: center;
}

.title {
  text-align: center;
  padding-top: 1.5rem;
}

.title h1 {
  color: green;
}

.title p {
  font-size: 1.8rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_buttons {
  display: flex;
  align-items: center;
  padding: .2rem;
  border-radius: .8rem;
  background-color: #FFF;
}

.buy {
  padding: .5rem 2rem;
  cursor: pointer;
  width: 130px;
}

.hire {
  padding: .5rem 2rem;
  cursor: pointer;
  width: 130px;
  text-align: center;
}

.setBuy,
.setHire {
  background-color: gray;
  border-radius: .5rem;
  color: #FFF;
}

/*Buttons*/

.container_inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: absolute;
  left: 50%;
  top: 370px;
  transform: translate(-50%, -50%);
}

.options_button {
  width: 240px;
  height: 56px;
  border: none;
  background-color: #FFF;
  position: relative;
  cursor: pointer;
  font-size: .9rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.options_container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: absolute;
  width: 240px;
  background-color: #FFF;
  padding: 1rem;
  border-radius: 0 0 .5rem .5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container_search input {
  width: 240px;
  height: 56px;
  border: none;
  border-radius: 0 .5rem .5rem 0;
  padding-left: 2.2rem;
  font-size: .9rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-overflow: ellipsis 
}

.container_search span {
  position: absolute;
  top: 15px;
  left: 972px;
}

.search {
  margin-left: 1rem;
}

.first {
  border-radius: .5rem 0 0 0;
}

.first_active {
  border-radius: .5rem 0 0 .5rem;
}

.search button {
  height: 56px;
  width: 94px;
  color: #FFF;
  background-color: green;
  border-radius: .5rem;
  border: none;
  position: relative;
}

@media(max-width: 769px) {
  .title h1 {
    font-size: 1.5rem;
    margin-top: 1rem !important;
  }
  .title p {
    font-size: 1.2rem;
    margin-bottom: 1rem !important;
  }
}