.media {
  background-image: url('/sortrodape.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}

.container_carousel {
  max-width: 1150px;
  margin: auto;
  cursor: pointer;
}

.title {
  margin-top: 8rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.container_media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: 2rem;
}

.description {
  color: #FFF;
}

.img {
  padding: .9rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.title_news {
  font-size: 1.3rem;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 7; /* número de linhas que você deseja exibir */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* adiciona os três pontos ao final do texto truncado */
  width: 400px; /* a largura do contêiner */
  font-size: .9rem;
  margin-top: 1rem;
}


@media(max-width: 759px) {
  .media {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 20%), url('/sortrodape.png');  
    height: 500px;
  }
  .container_media {
    display: flex;
    flex-direction: column-reverse;
    gap: 0rem;
    margin-top: 0;
  }
  .title {
    padding: 6rem 2rem 2rem 2rem;
    margin: 0;
    text-align: center;
  }
  .people {
    width: 260px !important;
    height: 260px !important;
  }
  .img {
    position: absolute;
    top: 198px;
    right: 50px;
    width: 140px;
    height: 50px;
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title_news {
    font-size: 1.5rem;
    margin-top: .5rem;
  }
  .text {
    text-align: center;
    margin-top: 2rem;
    padding: 0 1.5rem;
  }
}