.opportunity{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.container_carousel {
  max-width: 1150px;
  margin: auto;
}

.title {
  margin-top: 8rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/background.jpg');
  height: 350px;
  width: 320px;
  border-radius: 1rem 1rem 0 0;
  margin-left: .4rem;
}

.container_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 48px;
}

.sell {
  background-color: green;
  color: #FFF;
  padding: 0 1.5rem;
  margin-top: .5rem;
  border-radius: 8rem;
}

.name {
  margin: auto 5rem 0 0;
  color: #FFF;
}

.config {
  display: flex;
  gap: 2rem;
  margin-right: 8rem;
  font-size: .9rem;
  color: #FFF;
}

.price {
  background-color: green;
  color: #FFF;
  margin: .5rem auto 0 0;
  padding: 0.2rem 0;
  width: 160px;
  position: relative;
  left: -50px;
  text-align: left;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  width: 320px;
  background-color: grey;
  border-radius: 0 0 1rem 1rem;
  font-size: .8rem;
  margin-left: .4rem;
  color: #FFF;
}

.view {
  background-color: orange;
  padding: .1rem 1rem;
  border-radius: 8rem;
}

