.bg_header {
  background-image: url('../../../public/banner-home.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  text-align: center;
}

.title h1 {
  color: #2f734c;
}

.title p {
  font-size: 1.8rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_buttons {
  display: flex;
  align-items: center;
  padding: .2rem;
  border-radius: .8rem;
  background-color: #FFF;
}

.buy {
  padding: .5rem 2rem;
  cursor: pointer;
  width: 130px;
}

.hire {
  padding: .5rem 2rem;
  cursor: pointer;
  width: 130px;
  text-align: center;
}

.setBuy,
.setHire {
  background-color: gray;
  border-radius: .5rem;
  color: #FFF;
}

@media(max-width: 769px) {
  .bg_header {
    height: 350px;
  }
  .title h1 {
    font-size: 1.5rem;
    margin-top: 1rem !important;
  }
  .title p {
    font-size: 1.2rem;
    margin-bottom: 1rem !important;
  }
}