.container_search {
  position: relative;
    top: -290px;
}

.title {
  text-align: center;
  padding-top: 3.5rem;
}

.title h1 {
  color: #2f734c;
  font-weight: 600;
}

.title p {
  font-size: 1.6rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy {
  padding: .5rem 2rem;
  cursor: pointer;
  width: 130px;
}

.hire {
  padding: .5rem 2rem;
  cursor: pointer;
  width: 130px;
  text-align: center;
}

.container_buttons {
  display: flex;
  align-items: center;
  padding: .2rem;
  border-radius: .8rem;
  background-color: #FFF;
}

.setBuy,
.setHire {
  background-color: gray;
  border-radius: .5rem;
  color: #FFF;
}

.container_inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: absolute;
  left: 50%;
  top: 370px;
  transform: translate(-50%, -50%);
}

.options_button {
  width: 240px;
  height: 56px;
  border: none;
  background-color: #FFF;
  position: relative;
  cursor: pointer;
  font-size: .9rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
}

.options_container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: absolute;
  width: 240px;
  background-color: #FFF;
  padding: 1rem;
  border-radius: 0 0 .5rem .5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container_search input {
  width: 240px;
  height: 56px;
  border: none;
  border-radius: 0 .5rem .5rem 0;
  padding-left: 2.2rem;
  font-size: .9rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-overflow: ellipsis 
}

.container_search span {
  position: absolute;
  top: 15px;
  left: 972px;
}

.search {
  margin-left: 1rem;
}

.first {
  border-radius: .5rem 0 0 0;
}

.first_active {
  border-radius: .5rem 0 0 .5rem;
}

.search button {
  height: 56px;
  width: 94px;
  color: #FFF;
  background-color: #2f734c;
  border-radius: .5rem;
  border: none;
  position: relative;
}

.input_text input::placeholder {
  color: #000;
  width: max-content;
  font-size: 0.9rem;
  background-color: #FFF;
  border: none;
}

/* EFEITO */
.text_container {
  width: 240px;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  position: relative;
  background-color: #FFF;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: .5rem;
  gap: .5rem;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
}

.text_animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(50, end) infinite alternate;
  border: none;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

.pause_animation {
  animation-play-state: paused;
}