.container_guide {
  margin-top: 6rem;
  background-color: #ccc;
  padding: 4rem 10rem;
}

.guide {
  font-weight: 300;
  font-size: 1.2rem;
}

.download {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.title {
  color: #2f734c;
  font-size: 2rem;
}

.button {
  margin-top: 2rem;
  background-color: #2f734c;
  color: #FFF;
  border: none;
  padding: 1rem 2rem;
  border-radius: .3rem;
}

@media(max-width: 980px) {
  .guide {
    text-align: center;
  }
  .container_guide {
    margin-top: 3rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}