.bg_about {
  background-image: url('../../../public/about-sort.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  position: absolute; 
  top: 40%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
}

.container_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_about h2 {
  font-size: 2rem;
  font-weight: 600;
  max-width: 800px;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.container_first {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.bg_photo_first {
  background-color: rgb(78, 78, 78);
  width: 320px;
  height: 300px;
  border-radius: .5rem;
}

.text {
  width: 450px;
  text-align: justify;
}

.text_second {
  width: 800px;
  text-align: justify;
}

.text_second:first-child {
  margin-top: 3rem;
}

.bg_photo_second {
  background-color: rgb(78, 78, 78);
  width: 800px;
  height: 300px;
  border-radius: .5rem;
  margin-top: 3rem;
}

@media(max-width: 768px) {
  .bg_about {
    background-image: url('../../../public/about-sort.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    position: absolute; 
    top: 26%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
  }
  .container_about h2 {
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 350px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .container_first {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .text_second,
  .text {
    width: 300px;
  }
  .bg_photo_second {
    width: 300px;
  }
}